html {
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}

body::after {
    background-image: url("https://img.xjh.me/random_img.php?type=bg&ctype=acg&return=302");
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    opacity: .06;
    filter: grayscale(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body, h1, h2, h3, h4, h5, h6, p, dl, dd, ol, ul, fieldset, figure, menu, blockquote, pre, hr {
    margin: 0
}

legend, menu, ol, ul, td, th, input {
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
}

ol, ul, menu {
    list-style: none
}

em, abbr, dfn, address, cite, var {
    font-style: normal
}

b, strong {
    font-weight: 400
}

s, strike, del {
    text-decoration: none
}

img {
    vertical-align: middle;
    border: 0
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    color: #f50;
    text-decoration: none;
    outline: 0
}

h1, h2, h3, h4, h5, h6, strong {
    font-size: 100%;
    font-weight: 400
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th {
    text-align: left
}

hr {
    border-style: solid
}

q:before, q:after {
    content: none
}

button, [type=button], [type=reset], [type=submit] {
    cursor: pointer;
    background-color: transparent
}

button, [type=button], [type=reset], [type=submit], label, [type=text], textarea, select {
    border: 0
}

button:focus, [type=button]:focus, [type=reset]:focus, [type=submit]:focus, label:focus, [type=text]:focus, textarea:focus, select:focus {
    outline: 0
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.clearfix {
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.css_82a32886f_29e3 {
    height: 88px
}
